# MongoDB
MONGODB_URI=

# Firebase
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=

# Google Gemini API (chatbot)
GEMINI_API_KEY=

# Backend
ENVIRONMENT=development
