# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Node / React
node_modules/
dist/
build/
.vite/

# Variables de entorno y secretos
.env
.env.local
*.pem
*.key

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
